<div id="banner" class="center">
	AAP Realtime Today's Donations 
	<small>Do not refresh, amount will be autoupdated and latest donor will be mentioned :)</small>
	<a target="_BLANK" href="https://donate.aamaadmiparty.org/?utm_source=discusspolitics.in&utm_medium=realtimeapp&utm_term=realtimeapp&utm_content=realtimeapp&utm_campaign=realtimeapp" class="btn btn-donate">Donate</a>
</div>
<div id="totalDonation" class="center">
	{{currency totalDonation}}
</div>
<div id="footer" class="center">
	<small>Created by <a href="http://discusspolitics.in" target="_BLANK">DiscussPolitcs.in</a></small>
	<div id="social">
		
	<a href="http://aaprealtime.discusspolitics.in/" class="twitter-share-button" data-via="dpltcs">Tweet</a>
	<a href="https://twitter.com/dpltcs" class="twitter-follow-button" data-show-count="false">Follow @dpltcs</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
	<div id="discourse_comments">
		<div id="discourse-comments"></div>

		<script type="text/javascript">
		  var discourseUrl = "http://discusspolitics.in/",
		      discourseEmbedUrl = 'http://aaprealtime.discusspolitics.in/?page=1';

		  (function() {
		    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
		      d.src = discourseUrl + 'javascripts/embed.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
		  })();
		</script>
	</div>

</div>
